extends layout

block content
  h1= title

  form(action="/order/new", method='post', id="ingredientForm")
    h2 Create a burger 
    h3 #{thankYouForOrdering}
    ul
      each ingredient in ingredients
        p
        input(type="checkbox", name="desiredIngredients", value=ingredient._id, id="ingredientName")
        | #{ingredient.name} | cost: #{ingredient.cost}
      p
        |What's your name?
        input(type="text", name="customerName", id="customerName")
        
    button(type='submit')
      | Submit
