extends layout

block content
  h1= title

  h2 List of pending orders
  form(action="/orders/completed", method="post", id="completingForm")
    ul(id="orderslist")
      each order in pendingOrdersList
        li(class=order._id) customer name: #{order.customerName} || #{order._id}
          each ingredient in order.ingredients
            div
              |#{ingredient.name}
          button(name="completedOrder_id", class="completeButton", value=order._id)
            |Order completed? 
